@import './variables.scss';

html {
  body {
    font-family: $small-text;
    background-color: $background;
    color: $text;
  }
  body .App {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    margin: 0;
    header {
      min-height: 100vh;
      @include media-breakpoint-up(sm){
        min-height: 400px;
      }
    }
    main {
      margin: 0 auto;
      padding: 30px 15px;
      @include media-breakpoint-up(md){
        padding: 80px;
      }
      width: 100%;
      max-width: 1000px;
      background-color: #fff;
      box-shadow: 0 0 4px 1px rgba(0,0,0,0.1);
      color: $text;
      flex: 1;
    }
    .col* {
      padding: 0;
    }
  }
  // ::selection {
  //   background: $primary;
  //   color: #fff;
  // }
  // ::-moz-selection {
  //   background: $primary;
  //   color: #fff;
  // }
}