@import '../../sass/variables';

.tag-selector, .ingredient-selector, .cooking-step {
  i {
    font-size: 28px;
    padding: 8px;
    color: $danger;
    cursor: pointer;
  }
  .info {
    font-size: 18px;
    padding: 0;
    color: $primary;
    cursor: pointer;
  }
}