@import '../../sass/variables.scss';

.timer {
  .timer-text {
    color: #666;
    font-size: 14px;
    font-family: $small-text;
  }
  .timer-button {
    background-color: $timer;
    min-width: 150px;
    border-radius: 40px !important;
    color: #fff;
    text-align: center;
    font-family: $big-text;
    &:hover {
      color: #fff;
      background-color: $success;
    }
  }
  .timer-button.started {
    background-color: $success;
    color: #fff;
    cursor: default;
  }
  .reset-btn {
    margin-left: 10px;
    padding: 7px 8px;
    color: #fff;
    font-family: $big-text;
    border-radius: 40px !important;
  }
}