@import "../../sass/variables.scss";

.ingredients {
  .amount-selector {
    display: flex;
    min-width: 100%;
    text-align: center;
    background-color: $success;
    border-radius: 40px;
    justify-content: space-between;
    .amount-selected {
      display: inline-block;
      padding: 0 20px;
      color: #fff;
      line-height: 38px;
    }
    .amount-button {
      border-radius: 40px;
      width: 40px;
    }
  }
  .ingredients-list {
    border-radius: 10px;
    background-color: $info;
    border: 1px solid $light;
    table {
      th,
      td {
        border-bottom: 1px solid $light;
        padding: 5px 0;
      }
    }
  }
}
