@import '../../sass/variables';

.latest-added-recipe {
  & > a {
    color: $text !important;
    text-decoration: none;
    &:hover {
      color: $text !important;
      text-decoration: none;
    }
  }
  border: 1px solid $light;
  border-radius: 5px;
  cursor: pointer;
  color: $text;
  position: relative;
  &:hover {
    box-shadow: 0 0 3px 3px $light;
  }
  .recipe-title {
    font-family: $big-text;
    padding: 10px 0;
    h4 {
      font-weight: 700;
      margin-bottom: 0;
    }
  }
  .recipe-card-resume {
    font-family: $small-text;
  }
  .recipe-card-time {
    font-family: $small-text;
    font-weight: 700;
    position: absolute;
    bottom: 5px;
    left: 15px;
    @include media-breakpoint-up(md) {
      top: 5px;
      right: 15px;
      left: initial;
      bottom: initial;
    }
  }
  .preview-rating {
    position: absolute;
    bottom: 5px;
    right: 15px;
    @include media-breakpoint-up(md) {
      right: 15px;
    }
  }
  .preview-tag {
    position: absolute;
    bottom: 5px;
  }
}
