@import '../../sass/variables';

.search-section {
  color: white;
  .search-bar {
    border-radius: 60px;
    height: 68px;
    font-family: $big-text;
    font-size: 34px;
    padding: 30px;
  }
  .add-recipes {
    margin-top: 15px;
    border-radius: 30px;
    font-family: $big-text;
    font-size: 24px;
    padding: 5px 20px;
    margin-right: 15px;
  }
  .search-by-category {
    margin-top: 15px;
    border-radius: 30px;
    font-family: $big-text;
    font-size: 24px;
    padding: 5px 20px;
    margin-left: 15px;
  }
}
