@import '../../sass/variables';

header {
  background-image: url('/images/header-image.jpg');
  background-size: contain;
  background-position: center top;
  background-attachment: fixed;
  padding: 5rem;
}

.logo{
  max-width: 100%;
  height: auto !important;
}

// Mobile breakpoints..


@media only screen and (max-width: 600px){
  .logo{
    margin-bottom: 2rem;
  }
  header{
    padding: 1rem;
  }
}