@import '../../sass/variables';

footer {
  background-color: #eee;
  .logo-footer{
    height: 180px;
  }
  .bold{
    font-weight: bold;
  }
  .info-style{
    list-style: none;
    padding: 0;
  }
}

